@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-fbiad-yellow: rgb(209, 174, 102);
  --color-fbiad-blue: rgb(8, 45, 116);
  --color-fbiad-white: rgb(255, 254, 244);
  --color-fbiad-dark-blue: rgb(23, 60, 106);
  --color-fbiad-dark-yellow: rgb(153, 133, 118);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
